<main id="main"> 

    <br>

    <div class="boxContainer">
        <table class="elementsCon">
            <tr>
                <td>
                    <input  class = "search" type="text" placeholder="Search" [(ngModel)]="searchText">
                </td>
                <td>
                    <a href="#"><i class= "material-icons" (click)="searchNote()">Search</i></a>
                </td>
            </tr>
        </table>
       
       
    </div><br><br><br>

    <div class="row" >
        <article class="article" *ngFor="let i of noteList">

            <h3>{{i.title}}</h3>
            <p>{{i.content}}</p>

        </article> 
        
    </div>

</main>
